:local .AppLogTreeBox{
	position: absolute;
	top: 156px;
	right: 0;
	bottom: 0;
	left: 240px;
	background: #fff;
	font-size: 14px;
	color: #545454;
	overflow-y: scroll;
	text-align: center;
}
:local .publishLog{
	position: absolute;
	width: 100px;
	height: 35px;
	line-height: 35px;
	border-radius: 5px;
	background: #2EA56B;
	color: #fff;
	left: 50%;
	margin-left: -50px;
	margin-top: 20px;
	display: block;
	text-align: center;
	cursor: pointer;
}
:local .right{
	margin-top: 55px;
	margin-bottom: 70px;
	width: 50%;
	float: right;
	min-height: 100%;
}
:local .appLogTreeLeavesBox{
	width: 100%;
	height: 150px;
	float: right;
	position: relative;
}
:local .appLogTreeLeavesBox:before{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #2EA56B;
	content: '';
	display: block;
	position: absolute;
	bottom: -10px;
	left: -10px;
}
:local .appLogTreeLeavesBox>span{
	width: 1px;
	height: 150px;
	display: block;
	float: left;
	background: #2EA56B;
}
:local .appLogTreeLeavesBox>label{
	width: 100px;
	height: 1px;
	display: block;
	float: left;
	background: #2EA56B;
	margin-top: 150px;
}
:local .appLogDetailsBox{
	width: 190px;
	height: 90px;
	float: left;
	padding: 5px;
	border: 1px solid #2EA56B;
	position: absolute;
	top: 100%;
	margin-top: -50px;
	left: 100px;
	text-align: left;
	border-radius: 5px;
}
:local .appLogDetailsBox p{
	padding-left: 70px;
}
:local .appLogDetailsBox label{
	width: 70px;
	margin-left: -70px;
	display: block;
	float: left;
}
:local .appLogDetailsBox span{
	display: block;
}

/*左侧树叉*/
:local .appLogTreeLeavesBox:nth-of-type(even)>label{
	margin-left: -100px;

}
:local .appLogTreeLeavesBox:nth-of-type(even) .appLogDetailsBox{
	margin-left: -400px;
}

/*发布app日志*/
:local .publishNewLogBoxBg{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	z-index: 30;
}
:local .publishNewLogBox{
	position: absolute;
	width: 560px;
	height: 260px;
	background: #fff;
	border: 1px solid #eee;
	top: 50%;
	left: 50%;
	margin-top: -151px;
	margin-left: -301px;
	padding: 20px;
}
:local .publishNewLogBox p{
	font-size: 20px;
	margin-bottom: 20px;
}
:local .inputGroup{
	height: 35px;
	line-height: 35px;
	border: 1px solid #eee;
	border-radius: 5px;
	margin-bottom: 20px;
}
/*必填*/
:local .required{
	border-color:#f00;
}
:local .inputGroup label{
	width: 77px;
	height: 35px;
	line-height: 35px;
	display: block;
	float: left;
	text-align: center;
	border-right: 1px solid #eee;
	border-radius: 5px 0 0 5px;
}
:local .inputGroup input{
	height: 35px;
	line-height: 35px;
	width: 460px;
	float: left;
	border: none;
	outline: none;
	border-radius: 0 5px 5px 0;
	padding: 0 10px;
}
:local .inputGroup select{
	height: 35px;
	line-height: 35px;
	width: 480px;
	float: left;
	border: none;
	outline: none;
	border-radius: 0 5px 5px 0;
	padding: 0 10px;
}
:local .btn{
	width: 300px;
	height: 35px;
	line-height: 35px;
	border-radius: 5px;
	background: #2EA56B;
	text-align: center;
	display: inline-block;
	color: #fff;
	cursor: pointer;
}
/*灰话*/
:local .disabled{
	background: #eee;
	cursor: default;
}